
body{
    margin: 0px;
}
nav{
    display:flex ;
    justify-content: space-between;
    
    
}

nav ul {
    display: flex;
    list-style: none;
    gap:2rem;

}

nav a {
    text-decoration: none;
    color:white;
}

header{
    background-color: black;
    color: white;
    padding: 19px;
}
nav a:hover{
    color: greenyellow;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(87, 243, 204, 0.957);
    padding: 2.5rem;
}
.btn {
 color: rgb(224, 125, 133);
 text-decoration: none;
 text-shadow: rgb(55, 0, 255);
}

section img{
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    margin:10px
}